/* Style dla całej strony */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style dla nawigacji */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 0px;
}

/* Style dla sidebar */
.sidebar {
    background-color: #f2f2f2;
    height: 100%;
    position: fixed;
    top: 40px;
    left: 0px;
    width: 200px;
    padding: 20px;
}
.sidebar img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Style dla treści strony */
.container {
    float: aside;
    margin-top: 60px;
    margin-right: 20px;
    padding: 40px;
    background-color: #fff;
    min-height: 400px;
}

/* Style dla przycisków */
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right:130px;
}

.buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    /*margin-left: 10px;*/
    cursor: pointer;
}

/* Style dla stopki */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}